<div class="row">
	<div class="col-md-6">name</div>
	<div class="col-md-6">short_des</div>
</div>
<% @dishes.each do |d|%>
<div class="row">
	<div class="col-md-2">
	<% if current_user.id==d.user_id%>
	<%=link_to '',faverite_dish_path(d),:method=>'post',:class=>'fa fa-heart-o' %>
	<% end %>
	</div>
	<div class="col-md-2"><%=d.name%></div>
	<div class="col-md-8"><%=d.short_des%></div>

</div>
<% end %>