<div class="row">
	<div class="col-md-12">
		簡介
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		Users:<%=@user%>
	</div>
	<div class="col-md-4">
		Dishes:<%=@dishes%>
	</div>
	<div class="col-md-4">
		Comments:<%=@comments%>
	</div>
</div>