<div class="row">
	<div class="col-md-12"><a href="./">bestdish</a></div>

	<div class="col-md-12"><%= link_to "all_dishes", dishes_path() %>
	</div>
	<div class="col-md-12"><%= link_to "faverite_list" %>
	</div>
	<div class="col-md-12"><%= link_to "draft", draft_dishes_path() %>
	</div>

</div>