<div class="row">
	<div class="col-md-6">name</div>
	<div class="col-md-6">short_des</div>
</div>
<% @dishes.each do |d|%>
<div class="row">
	<div class="col-md-2"><%=link_to '',faverite_dishes_path(:dish_id=>d.id),:method=>'post',:class=>'fa fa-heart-o' %></div>
	<div class="col-md-2"><%=d.name%></div>
	<div class="col-md-8"><%=d.short_des%></div>

</div>
<% end %>