
// Place all the styles related to the dish_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


//compoments
.center{
	text-align:center;
}

body{
	background:url("http://www.deino.sakura.ne.jp/0_souko/Back%20up/0_tex/%8Eg%97p%89%C2%94%5C/paper_parchment02%5B1%5D.jpg");
}

.main{
	margin-top:2%;
	.main-title{
		border-radius:10px;
		border:2px solid #ddd;
		padding-bottom:30px;
		background:#ddd;
	}
	.menu-item{
		border:2px solid #ccc;
		margin-top:5px;
		background:#ddd;
	}
	.menu-des{
		background:#eee;
		margin: 10px 0 0 10px;
	}
	.dish-form{
		padding-top:10px;
		background-color:#4e5612;
	}


}
.comment-range{
	background:#fdf;
	display: block;
	padding:2px 5px ;
	margin:5px 0 5px;
}
.comment-range input[type="range"]{
	margin:0 5px;
}

.main{
	input,select,textarea{
		width:100%;
	}
	.main-comment{
		background: #fff;
	}
	.comment-form{
		border:2px solid #ddd;
		margin:1% ;
	}
	.comment-list{
		margin:2%
	}
}
// input range
input[type=range] {
	max-width:10%;
	display:inline;
}
